.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    gap: 60px;
}

.accueil {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accueil img{
    flex: 0 0 33%;
    max-width: 33%;
    height: auto;
}


.logo {
    position: relative;
    width: 320px;
    height: auto;
    z-index: 2;

}

.head {
    width: 100%;
    padding: 20px 60px;
    box-sizing: border-box;
    background-color: #FFFDD0;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu>li {
    font-size: 2rem;
    color: #2B2D42;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #2B2D42;
}

.menu a:hover {
    color: #C90086;
}

.sous {
    list-style: none;
    margin: 0;
    padding: 18px 24px;

    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    background: rgb(234, 234, 242);
    border-radius: 8px;

    display: none;
}

.sous li {
    padding: 12px 0;
}

.sous a {
    display: block;
    padding: 4px 0;
    font-size: 2rem;
    color: #2B2D42;
}

.deroulant:hover .sous {
    display: block;
}




/* Section recherches */
.recherches {
    display: flex;
    justify-content: center;
}

.barreRecherches {
    width: 520px;
    height: 56px;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 0 10px 0 22px;

    background: rgb(211, 236, 241);
    /* bleu translucide */
    border: 2px solid rgba(130, 196, 207);
    border-radius: 999px;
}

.barreRecherches input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;

    font-family: inherit;
    font-size: 1.1rem;
    color: #2B2D42;
}

/* Recherche Internet pour retirer la croix de la barre de recherche sur Chrome, Edge, Safari */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

/* Recherche Internet pour retirer la croix de la barre de recherche sur Firefox*/
input[type="search"]::-moz-search-clear {
    display: none;
}

.barreRecherches button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #aec4c4;
    /* tester le contraste */

    display: flex;
    align-items: center;
    justify-content: center;

}

.barreRecherches button img {
    width: 25px;
    height: 25px;
    display: block;
}


.festivals {
    margin-top: 20px;
    width: 100%;
}

.festivals-title {
    font-family: "Audiowide", sans-serif;
    font-size: 4rem;
    color: #82C4CF;
    margin: 0 0 -30px 0;
    padding-left: 2rem;
}

.festivals-blocks {
    display: grid;
    grid-template-columns: 50% 50%;
    background: #82C4CF;
    padding: 3rem;
}

.festivals-block h3 {

    margin-top: 1rem;
    font-size: 2rem;
    color: #FFFDD0;
    z-index: 2;

}

.photo {
    width: 100%;
    height: auto;
    border-radius: 40px;
    filter: drop-shadow(0 0 0.75rem rgb(27, 39, 44));

}

.photo {
    transition: transform 250ms ease, box-shadow 250ms ease;
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

.poster {
    width: 260px;
    height: auto;
    transform: rotate(12deg);
    transform-origin: top left;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);

}

.poster {
    transition: transform 250ms ease, box-shadow 250ms ease;
}

.poster:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}


/* rajout  */
h1 {
    font-size: 3.5rem;
    color: #FFB8E7;
    font-family: "Pixelify Sans";
    font-weight: 500;
    word-spacing: 0.01rem;
    text-wrap: nowrap;
    text-align: center;
    margin-top: 1rem;
}
.reveal {
    opacity: 0;
    transform: scale(0.95);
    animation: zoom 1.5s ease forwards;
}

@keyframes zoom {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.logo {
    animation: bounce 1.6s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

.logo {
    animation: bounce 1.6s ease-in-out infinite;
    transition: transform 250ms ease;
}

.logo:hover {
    animation: none;
    transform: scale(1.08);
}

.footer-links p {
    color: #F8FCFC;
    font-style: italic;
    font-weight: lighter;
}



/* images cliquables  */

.images-liens {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 100px auto;
  max-width: 1200px;
  grid-column: 1/3;
}

.image-link img {
  width: 100%;
  height: auto;
  transition: transform 300ms ease, box-shadow 300ms ease;
}

.image-link:hover img {
  transform: scale(1.05);
}