main img{
    border-radius: 50%;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.35);
    
}
main{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8rem;

}
figcaption{
    font-weight: bold;
    font-size: 1.5rem;
    color:#82C4CF ;
    text-align: center;
    margin-top: 2rem;
}
figure{
    display: flex;
    flex-direction: column;
    align-items :center;
}