
.Quoi {
    margin-top: 1rem;
    padding-top: 4rem;
    width: 100%;
}

.LesCoulisses-title {
    font-family: "Audiowide", sans-serif;
    font-size: 4rem;
    color:#C90086;
    margin: 0;
    text-align: center;
}

.premier-blocks {
    background:#eb76aa;
    padding: 5rem;
}
.premier-blocks p {
    text-align: center;

}

.photo {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 40px;
    align-items: start;
    max-width: 1200px;
    margin: 80px auto;
}

.photo img {
    grid-column: 1;
    grid-row: 1 / span 2;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    align-self: center;
}

h2 {
    grid-column: 2;
    grid-row: 1;
    margin: 0 0 16px 0;
    color: #FFFDD0;
    font-style: oblique;
    font-weight: bolder;
    font-size: 2rem;
}

.photo p {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    max-width: 520px;
    line-height: 1.6;
    color: #F8FCFC;
    text-align: left;
}
.photo img {
    transition: transform 250ms ease, box-shadow 250ms ease;
}

.photo img:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

.Objet {
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    display:flex; 
    align-items: center;
    justify-content: space-between; 
}

.Objet h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.texte{
    max-width: 600px;
}

/* sponsors début  */
.partners {
    padding: 80px 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.partners h2 {
    font-family: "Audiowide", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #2B2D42;
    margin: 0;

}

.partners-slider {
    width: 100%;
    overflow: hidden;
}

.partners-logo {
    display: flex;
    align-items: center;
    width: max-content;
    overflow-x: hidden;
    /* vidéo Youtube pour animation: @Coding2GO  */
    animation: spin 15s infinite linear;
}

.partners-logo img {
    height: 100px;
    width: auto;
    display: block;
    margin-right: 55px;

}

.partners-logo img:last-child {
    margin-right: 0;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -50%;
    }
}

.partners-logo ::-webkit-scrollbar {
    display: none;
}

/* sponsors fin  */

/* footer début */
.footer-inner {
    background-color: #2B2D42;
    display: grid;
    grid-template-columns: 1fr 1fr 1.4fr;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-right: 120px;
    padding-left: 40px;
    padding-bottom: 100px;
    font-size: 1.5rem;
}

.footer-links a {
    text-decoration: none;
    color: #F8FCFC;

}

.footer-links a:hover {
    color: #FFB8E7;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer-logo {
    margin-top: 40px;
    width: 300px;
    height: 300px;
}

.footer-socials {
    display: flex;
    gap: 22px;
    margin-bottom: 40px;
}

.footer-socials a {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer-socials img {
    width: 50px;
    height: 50px;
    display: block;
}

/* Newsletter */
.footer-newsletter {
    justify-self: end;
    padding-left: 120px;
    padding-right: 40px;
    padding-bottom: 100px;
}

.footer-newsletter h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #F8FCFC;
    margin-bottom: 0 0 16px 0;
}

.pill {
    display: flex;
    align-items: center;
    height: 78px;
    width: 560px;
    border: 3px solid #FFFDD5;
    border-radius: 999px;
    overflow: hidden;
}

.pill input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0 28px;
    font-family: inherit;
    font-size: 1.5rem;
    outline: none;
    color: #F8FCFC;
}

.pill button {
    height: 100%;
    border: none;
    padding: 0 40px;
    background: #FFFDD0;
    font-family: inherit;
    font-weight: bold;
    color: #2B2D42;
    font-size: 1rem;
}

.footer-links p {
    color: #F8FCFC;
    font-style: italic;
    font-weight: lighter;
}

/* footer fin  */


/* Section recherches */
.recherches {
    display: flex;
    justify-content: left;

}


.barreRecherches {
    width: 20rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 10px 0 22px;
    background:#2B2D42;
    border: 2px solid rgba(130, 196, 207, 0.35);
    border-radius: 99px;
}

.barreRecherches input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;

    font-family: inherit;
    font-size: 1rem;
    color: #F8FCFC;
}

/* Recherche Internet pour retirer la croix de la barre de recherche sur Chrome, Edge, Safari */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

/* Recherche Internet pour retirer la croix de la barre de recherche sur Firefox*/
input[type="search"]::-moz-search-clear {
    display: none;
}

.barreRecherches button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background: #aec4c4;
    /* tester le contraste */

    display: flex;
    align-items: center;
    justify-content: center;

}

.barreRecherches button img {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

.recherches {
    margin-left: 13.75rem;
    display: flex;
    justify-content: flex-end;
}

.header-logo {
    margin-left: auto;
    display: flex;
    justify-content: center;

}

.premier-blocks p{
    color: #F8FCFC;
    font-size: 1.2rem;

}