.container {
    width: 1240px;
    background-color: #87c596;
    margin: 0 auto;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-size: 40px 40px;
}

.hero {
    max-width: 900px;
    margin: 60px auto;
    text-align: center;
}

.hero h1 {
    font-family: 'Audiowide', sans-serif;
    font-size: 48px;
}

.row label {
    font-family: 'Audiowide', sans-serif;
    color: #87c596;

}

.intro {
    margin-top: 20px;
}

.criteres {
    text-align: left;
    margin: 40px auto;
    max-width: 700px;
    font-family: "Audiowide", sans-serif;
    color: #fff;
}

.criteres li {
    margin-bottom: 12px;
}

.attention {
    font-weight: bold;
    margin: 32px 0;
}


.form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fffdf0;
    padding: 20px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid #fff;
    padding: 8px 0;
}

.row label {
    text-align: left;
}

.mail {
    margin-top: 32px;
}