* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #82C4CF;
    color: #000;
}

/* HEADER */
.header {
    height: 60px;
    background-color: #23253a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

h1{
    font-family: "Audiowide", sans-serif;
    color: #fff;
}

ol li{
    font-size: 1.3em;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* HERO */
.hero {
    position: relative;
    padding: 80px 120px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.hero-circle {
    width: 300px;
    height: 300px;
    background-image: url("../../test/media/weneedyou.png");
    border-radius: 50%;
}

.hero-content {
    max-width: 600px;
}

.search-bar {
    width: 300px;
    background-color: #b7e3e3;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.intro {
    font-size: 14px;
    line-height: 1.6;
}

/* REGLES */
.rules {
    padding: 40px 120px;
}

.rules ol {
    font-size: 13px;
    line-height: 1.8;
}

.footer {
    background-color: #23253a;
    padding: 0px;
    color: #fff;
    font-family: sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* GAUCHE */
.footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-left a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 14px;
}

.footer-left a:hover {
    color: blue;
}


/* CENTRE */
.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.logo {
    width: 300px;
    height: 300px;
    background-image: url("../../test/media/logoindigo.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}
.logo:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

/* DROITE */
.footer-right {
    text-align: left;
}

.newsletter-title {
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.newsletter {
    display: flex;
    background-color: #2f314b;
    border-radius: 30px;
    overflow: hidden;
}

.newsletter input {
    border: none;
    background: transparent;
    padding: 12px 16px;
    color: white;
    outline: none;
    width: 200px;
}

.newsletter input::placeholder {
    color: #cbd5e1;
}

.newsletter button {
    border: none;
    background-color: #fde68a;
    padding: 12px 22px;
    cursor: pointer;
    font-weight: 600;
}

.newsletter button:hover {
    background-color: #fcd34d;
}  



