body{
    
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.container {
    width: 1200px; 
    margin:0; 
    background: white; 
    padding: 2rem;


}


h1 {
    text-align: center;
    
}
figure {
    margin: 0;
}

footer{
    margin-top: 20px;
    border-top: 4px solid rgb(93, 93, 93);
    padding: 30px;
    background: rgb(213, 213, 213);
}
