body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 1240px;
    background-color: #F8FCFC;

}

header {
    height: 110px;
    background: #2B2D42;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header img {
    height: 150px;
    width: auto;
}

.header-link {
    position: absolute;
    left: 60px;

    color: #F8FCFC;
    text-decoration: none;
    font-size: 1.4rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    gap: 60px;
}

.logo {
    width: 320px;
    height: auto;
}

nav {
    width: 100%;
    padding: 40px 60px;
    box-sizing: border-box;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu>li {
    font-size: 2rem;
    color: #2B2D42;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #2B2D42;
}

.sous {
    list-style: none;
    margin: 0;
    padding: 18px 24px;

    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    background: rgba(43, 45, 66, 0.08);
    border-radius: 8px;

    display: none;
}

.sous li {
    padding: 12px 0;
}

.sous a {
    display: block;
    padding: 4px 0;
    font-size: 2rem;
    color: #2B2D42;
}

.deroulant:hover .sous {
    display: block;
}

.sous a:hover {
    opacity: 0.7;
}


/* Section recherches */
.recherches {
    display: flex;
    justify-content: center;
}

.barreRecherches {
    width: 520px;
    height: 56px;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 0 10px 0 22px;

    background: rgba(130, 196, 207, 0.35);
    /* bleu translucide */
    border: 2px solid rgba(130, 196, 207, 0.35);
    border-radius: 999px;
}

.barreRecherches input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;

    font-family: inherit;
    font-size: 1.1rem;
    color: #2B2D42;
}

/* Recherche Internet pour retirer la croix de la barre de recherche sur Chrome, Edge, Safari */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

/* Recherche Internet pour retirer la croix de la barre de recherche sur Firefox*/
input[type="search"]::-moz-search-clear {
    display: none;
}

.barreRecherches button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #aec4c4;
    /* tester le contraste */

    display: flex;
    align-items: center;
    justify-content: center;

}

.barreRecherches button img {
    width: 25px;
    height: 25px;
    display: block;
}


.festivals {
    margin-top: 80px;
    width:100%;
}

.festivals-title {
    font-family: "Audiowide", sans-serif;
    font-size: 4rem;
    color: #82C4CF;
    margin: 0 0 -20px 0;
    padding-left: 40px;
}

.festivals-blocks {
    display: grid;
    grid-template-columns: 50% 50%;
    padding:1rem;
    background: #82C4CF;
    position: relative;
}
.festivals-block h3{
  
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #FFFDD0;
  z-index: 2;
}
.photo{
  width: 620px;
  height: auto;
  border-radius: 40px;
  display: block;
  position: relative;
  z-index: 1;
}
.poster{
  width: 260px;
  height: auto;
  transform: rotate(12deg);
  z-index: 2;

  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  
}

/* sponsors début  */
.partners {
    padding: 80px 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.partners h2 {
    font-family: "Audiowide", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #2B2D42;
    margin: 0;

}

.partners-slider {
    width: 100%;
    overflow: hidden;
}

.partners-logo {
    display: flex;
    align-items: center;
    width: max-content;
    overflow-x: hidden;
    /* vidéo Youtube pour animation: @Coding2GO  */
    animation: spin 15s infinite linear;
}

.partners-logo img {
    height: 100px;
    width: auto;
    display: block;
    margin-right: 55px;

}

.partners-logo img:last-child {
    margin-right: 0;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -50%;
    }
}

.partners-logo ::-webkit-scrollbar {
    display: none;
}

/* sponsors fin  */

/* footer début */
.footer-inner {
    background-color: #2B2D42;
    display: grid;
    grid-template-columns: 1fr 1fr 1.4fr;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-right: 120px;
    padding-left: 40px;
    padding-bottom: 100px;
    font-size: 1.5rem;
}

.footer-links a {
    text-decoration: none;
    color: #F8FCFC;

}

.footer-links a:hover {
    color: #FFB8E7;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer-logo {
    margin-top: 40px;
    width: 300px;
    height: 300px;
}

.footer-socials {
    display: flex;
    gap: 22px;
    margin-bottom: 40px;
}

.footer-socials a {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer-socials img {
    width: 50px;
    height: 50px;
    display: block;
}

/* Newsletter */
.footer-newsletter {
    justify-self: end;
    padding-left: 120px;
    padding-right: 40px;
    padding-bottom: 100px;
}

.footer-newsletter h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #F8FCFC;
    margin-bottom: 0 0 16px 0;
}

.pill {
    display: flex;
    align-items: center;
    height: 78px;
    width: 560px;
    border: 3px solid #FFFDD5;
    border-radius: 999px;
    overflow: hidden;
}

.pill input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0 28px;
    font-family: inherit;
    font-size: 1.5rem;
    outline: none;
    color: #F8FCFC;
}

.pill button {
    height: 100%;
    border: none;
    padding: 0 40px;
    background: #FFFDD0;
    font-family: inherit;
    font-weight: bold;
    color: #2B2D42;
    font-size: 1rem;
}

/* footer fin  */